.proj{
    display: flex;
    align-items: center;
    justify-content: center;

}
.pro-heading{
    width: 100%;
    height: 10vh;
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project{
    width: 100%;
    height: 80vh;
   
}