
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    
   
}
html{
    font-size:62.5% ;
}

:root{
    --blue: #3C79F5;
}

body{
    background-color: #ffff;
    overflow-x: hidden;
}



.cnt{
    width: 55%;
    padding: 1.4rem 1rem;
    font-size: 1.5vw;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    background-color: var(--blue);
    color: white;
    border: none;
    border-radius: 5px;



}

.cnt:hover{
    background-color: white;
    color: var(--blue);
    border: 1.4px solid var(--blue);
}




.me{
    margin-top: 3rem;
}

.view{
    padding: 0.5rem 2rem;
    background-color: var(--blue);
    border: none;
    color: #ffff;
    cursor: pointer;
    font-size: 1.3rem;
    letter-spacing: 1px;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
    
}
.view:hover{
    background-color: white;
    border: 1.3px solid var(--blue);
    color: var(--blue);
}

.source{
    padding: 0.5rem 2rem;
    background-color: white;
    border: 1.5px solid var(--blue);
    color:var(--blue);
    cursor: pointer;
    font-size: 1.3rem;
    letter-spacing: 1px;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
}
.source:hover{
    background-color: var(--blue);
    border: none;
    color: #ffff;
}


@media screen and (max-width:424px){
    .cnt{
        font-size: 3.4vw;
        width: 80%;
    }
}